apiVersion: 1

datasources:
  - name: Home Assistant
    type: influxdb
    access: proxy
    database: home_assistant
    user: ${INFLUXDB_USER}
    url: http://influxdb:8086
    secureJsonData:
      password: ${INFLUXDB_PASSWORD}
    jsonData:
      httpMode: GET
