apiVersion: 1

datasources:
  - name: Home Assistant
    type: influxdb
    access: proxy
    database: home_assistant
    user: ${influxdb_USERNAME}
    password: ${influxdb_PASSWORD}
    url: http://influxdb:8086
    secureJsonData:
      password: ${influxdb_PASSWORD}
    jsonData:
      httpMode: GET
